body {
    font-family: 'Courgette', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.flexible-box {
    display: flex;
    height: 200%;
    width: 80%;
    background-color: rgb(26, 26, 26);
    margin: 5% 30% 10% 10%;
    border-radius: 40px;
}

#color-white {
    width: 50%;
    padding-left: 10%;
    padding-bottom: 11%;
    color: white;
    padding-top: 5%;
    padding-right: 5%;
}

#half-width {
    width: 50%;
}

#half-width img {
    width: 100%;
    position: relative;
    right: 10%;
    top: 2%;
}

.sizing {
    font-size: 400%;
    font-weight: 900;
}

.button {
    font-size: 20px;
    color: white;
    background-color: brown;
    text-decoration: none;
    border-radius: 5px;
    padding: 4% 6%;
}

.fa-arrow-right {
    margin-left: 2%;
}

.padd {
    padding-bottom: 20%;
}

.power-container {
    display: flex;
    justify-content: center;
}

.flexible-container {
    background-color: black;
    height: 330px;
    width: 350px;
    margin-right: 1%;
    padding-top: 5px;
    border-radius: 15px;
    flex-direction: column;
}

.div {
    text-align: center;
    font-size: 20px;
    background-color: white;
    margin: 8%;
    padding: 6% 15%;
    border-radius: 10px;
}

#special {
    color: white;
    background-color: brown;
}

.second-flexible-container {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 2%;
}

.padd-2 {
    text-align: center;
}

.division {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 15px;
    width: 100%;
    padding: 10% 0;
}

.soccer {
    display: flex;
    padding-left: 18%;
}

.soccer h1 {
    padding: 0 5%;
}

.division h1 {
    display: inline-block;
}

.padd-2 h1 {
    font-size: 25px;
}

footer {
    background-color: rgb(19, 19, 19);
    text-align: center;
    margin-top: 150px;
}

.contact {
    display: flex;
    justify-content: center;
}

footer p {
    color: rgb(185, 185, 185);
    padding: 30px 30px 100px 30px;
}

footer h1 {
    color: white;
    padding-top: 100px;
    padding-bottom: 25px;
}

.line {
    border: none;
    height: 1px;
    width: 60%;
    text-align: center;
    margin: left 100px;
    background-color: rgb(43, 43, 43);
}

.fa-facebook-square,
.fa-instagram,
.fa-facebook-messenger {
    color: white;
    font-size: 20px;
    padding: 0 20px 50px 20px;
}

/* smaller device */

@media screen and (max-width:576px) {
    .flexible-box {
        flex-direction: column;
        border-radius: 20px;
    }

    #half-width {
        width: 80%;
    }

    #half-width img {
        width: 100%;
        padding-left: 80px;
    }

    .contact {
        flex-direction: column;
    }

    footer {
        margin-top: 110%;
    }

    .second-flexible-container {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 5%;
        margin-right: 5%;
    }

    .power-container {
        flex-direction: column;
    }

    .flexible-container {
        background: none;
        margin-bottom: 20%;
        margin-left: 10%;
    }

    .div {
        border: 2px solid gray;
    }

    .sizing {
        text-align: center;
        font-size: 30px;
        padding-left: 90px;
    }

    .padd {
        text-align: center;
        position: relative;
        left: 55px;
    }

    .button {
        position: relative;
        left: 70px;
    }
}

/* tablet device */

@media screen and (min-width:577px) and (max-width:992px) {

    .second-flexible-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .flexible-box {
        flex-direction: row;
        height: 420px;
        margin: 10px 100px 0px 100px;
    }

    .sizing {
        font-size: 35px;
    }

    .padd {
        font-size: 15px;
        padding-bottom: 30px;
    }

    #half-width img {
        padding-top: 70px;
    }

    .power-container {
        flex-direction: column;
    }

    .flexible-container {
        background: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 120px;
        margin-bottom: 150px;
        height: 10px;
    }

    .div {
        border: 2px solid rgb(172, 172, 172);
        padding: 10px 80px;
    }

    footer {
        margin-top: 30%;
    }
}