body {
    font-family: 'Courgette', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.flexible-box {
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    margin: 50px 150px 150px 150px;
    border-radius: 40px;
}

#color-white {
    color: white;
    padding-top: 50px;
    padding-right: 50px;
}

#half-width img {
    width: 700px;
    position: relative;
    top: 5px;
    left: 50px;
}

.sizing {
    font-size: 70px;
    font-weight: 900;
}

.button {
    font-size: 20px;
    color: white;
    background-color: brown;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 40px;
}

.fa-arrow-right {
    margin-left: 10px;
}

.padd {
    padding-bottom: 40px;
}

.power-container {
    display: flex;
    justify-content: center;
}

.flexible-container {
    background-color: black;
    height: 330px;
    margin-right: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.div {
    text-align: center;
    font-size: 20px;
    background-color: white;
    margin: 30px;
    padding: 20px 70px;
    border-radius: 10px;
}

#speacial {
    color: white;
    background-color: red;
}

.second-flexible-container {
    align-content: center;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-gap: 20px;
}

.padd-2 {
    text-align: center;
}

.division {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 15px;
    width: 380px;
    padding: 30px 0px;
}

.soccer {
    display: flex;
    padding-left: 70px;
}

.soccer h1 {
    padding: 0 10px;
}

.division h1 {
    display: inline-block;
}

.padd-2 h1 {
    font-size: 25px;
}

footer {
    background-color: rgb(19, 19, 19);
    text-align: center;
    margin-top: 150px;
}

footer div {
    display: flex;
    justify-content: center;
}

footer p {
    color: rgb(185, 185, 185);
    padding: 30px 30px 100px 30px;
}

footer h1 {
    color: white;
    padding-top: 100px;
    padding-bottom: 25px;
}

.line {
    border: none;
    height: 1px;
    width: 60%;
    text-align: center;
    margin: left 100px;
    background-color: rgb(43, 43, 43);
}

.fa-facebook-square,
.fa-instagram,
.fa-facebook-messenger {
    color: white;
    font-size: 20px;
    padding: 0 20px 50px 20px;
}